
<nav class="navbar navbar-expand-lg navbar-transparent bg-tranavbar-transparent" style="padding-left: 40px; padding-right: 120px; border-bottom: 0.4px solid rgba(0,0,0,0.4)">
  <a class="navbar-brand" style="letter-spacing: 3px;"><b>THE</b>OTHER<b>FRUIT</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="options" id="desktop">
      <img class="vssd" src="./../../../assets/images/icons/home.png" onclick="window.location.href='/'">
      <img class="vssd" src="./../../../assets/images/icons/search.PNG" onclick="window.location.href='/search'">
      <img class="vssd" src="./../../../assets/images/icons/globe.png" onclick="window.location.href='/map'">
      <img class="vssd" src="./../../../assets/images/icons/profile.png">
      <img class="vssd" src="./../../../assets/images/icons/site.png">
      <img class="vssd" src="./../../../assets/images/icons/person.PNG" onclick="window.location.href='/settings'">
    </div>
  </nav>

  
