<div class="container2" id="artist">
  <h4>SHOW ME</h4>
  <div class="meSelect">
      <div class="meSelectOpt2" id="opti1" (click)="optionClick2(1)">
          <img class="sh" src="./../../../assets/images/interests/tattoo.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/tattoo.png" style="vertical-align: 0;"/>
      </div>
      <div class="meSelectOpt2" id="opti2" (click)="optionClick2(2)">
          <img class="sh" src="./../../../assets/images/interests/art.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/art.png" style="vertical-align: 0;"/>
      </div>
      <div class="meSelectOpt2" id="opti3" (click)="optionClick2(3)">
          <img class="sh" src="./../../../assets/images/interests/model.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/model.png" style="vertical-align: 0;"/>
      </div>
      <div class="meSelectOpt2" id="opti4" (click)="optionClick2(4)">
          <img class="sh" src="./../../../assets/images/interests/artist.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/artist.png" style="vertical-align: 0;"/>
      </div>
      <div class="meSelectOpt2" id="opti5" (click)="optionClick2(5)">
          <img class="sh" src="./../../../assets/images/interests/performance.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/performance.png" style="vertical-align: 0;"/>
      </div>
      <div class="meSelectOpt2" id="opti6" (click)="optionClick2(6)">
        <img class="sh" src="./../../../assets/images/interests/venue_pic.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/venue_pic.png" style="vertical-align: 0;"/>
    </div>
    <div class="meSelectOpt2" id="opti7" (click)="optionClick2(7)">
        <img class="sh" src="./../../../assets/images/interests/supplier_pic.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/supplier_pic.png" style="vertical-align: 0;"/>
    </div>
    <div class="meSelectOpt2" id="opti8" (click)="optionClick2(8)">
        <img class="sh" src="./../../../assets/images/interests/business_pic.png" style="vertical-align: 0;"/>
          <img class="sh1" src="./../../../assets/images/interests/business_pic.png" style="vertical-align: 0;"/>
    </div>
  </div>
  <app-nxt-btn text="next" text2="back" [callBackFunction]="nextClick" [callBackFunction1]="backClick"></app-nxt-btn>
</div>