<nav class="navbar navbar-expand-lg navbar-transparent bg-tranavbar-transparent" style="padding-left: 40px; padding-right: 120px; border-bottom: 0.4px solid rgba(0,0,0,0.4)">
  <a class="navbar-brand" style="letter-spacing: 3px;"><b>THE</b>OTHER<b>FRUIT</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
              <div class="navbar-nav ml-auto h6 options">
                      <div class="nav-item share" id="share">
                          <span class="fas fa-share-alt"></span>
                      </div>
                      <div class="nav-item opt" id="opt1" onclick="location.href = '/signup'">
                          SIGN UP
                      </div>
                      <div class="nav-item Dash" id="dash">
                          |
                      </div>
                      <div class="nav-item opt" id="opt2" onclick="location.href = '/login'">
                          SIGN IN
                      </div>
                  </div>
      </div>
  </nav>

  