<div id="errorGroup" style="position: fixed; right:0;">
  
</div>
  <div class="container" id="part1">
    <app-logo-with-title title="SIGNUP"></app-logo-with-title>
     <form>
        <div class="form-group" style="margin-top: 25px;">
            <label class="form-control-placeholder" style="display: block;">email</label>
            <input type="email" class="form-control" id='userMail' (input)="this.email=$event.target.value" placeholder="virinchi@uvirinchi.com" required>
            <div class="spinner-border text-dark" style="display: inline-block;" id="spin" role="status">
            </div>
            <span class="fas fa-check" id="check"></span>
            <span class="fas fa-exclamation" id="err"></span>
            <!-- <span class="fas fa-cloud" style="display: inline-block;"></span> -->
            <!-- <div class="errorText" id="mailErr">please enter valid mail</div> -->
        </div>
        <div class="form-group" style="margin-top: 22px;">
            <label style="display: block;" class="form-control-placeholder">password</label>
            <input type="password" class="form-control" (input)="this.password=$event.target.value" placeholder="password" required>
            <!-- <div class="errorText" id="mailErr">password should be atleat 6 character long</div> -->
        </div>
     </form>
     <app-nxt-btn text="next" [callBackFunction]="callBack"></app-nxt-btn>
  </div>
  <div class="container collapse" id="part2">
      <h4>SIGNUP</h4>
      <h6>how the world will see you</h6>
        <form>
          <div class="form-group" style="margin-top: 100px;">
              <label style="display: block;" class="form-control-placeholder">display name</label>
              <input type="email" class="form-control" (input)="this.displayName=$event.target.value" placeholder="feel free to use a nickname" required>
              <!-- <div class="errorText" id="mailErr">please enter valid mail</div> -->
          </div>
          <div class="form-group" style="margin-top: 22px;">
              <label style="display: block;" class="form-control-placeholder" for="name">username</label>
              <input type="password" class="form-control" (input)="this.userName=$event.target.value" placeholder="pick one you like" required>
              <!-- <div class="errorText" id="mailErr">password should be atleat 6 character long</div> -->
          </div>
       </form>
       <app-nxt-btn text="next" text2="back" [callBackFunction]="callBack2" [callBackFunction1]="callBack3"></app-nxt-btn>
    </div>
  
